.center {
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.cardContainer {
  display: flex;
}

@media (max-width: 600px) {
  .cardContainer {
    display: flex;
    flex-direction: column;
  }
}
