.cardsContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.cards {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
}

.yourCard {
  /* display: flex; */
  /* justify-content: center; */
}
