.pokerPageLayout {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px);
}

.cardsContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cards {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
}

.yourCard {
  /* display: flex; */
  /* justify-content: center; */
}

.sendLink {
  display: flex;
  justify-content: space-between;
  width: 400px;
  cursor: pointer;
  margin-bottom: 50px;
}

@media (max-width: 540px) {
  .sendLink {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    margin-bottom: 50px;
  }
}
