.cardsContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: gray;
}

.cards {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.yourCard {
  display: flex;
  justify-content: center;
}
