.imageContainer {
  position: relative;
  display: inline-block;
  margin-bottom: 50px;
}

.centeredImage {
  display: block;
  max-width: 100%;
  height: auto;
}

.centeredLetter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: transparent;
  pointer-events: none;
  mix-blend-mode: screen;
  z-index: 5;
}
